extends layout 

block title 
    title 로그인
block content
    - const name = 'jiwoo';

    div #{name}
    div.login-wrapper
        h3.login-title LOGIN
        form.login-form(action="", method="post") 
            div.login-input-wrapper
                label 아이디
                input.login-input(type="text", name="id" id='id')
                label 비밀번호
                input.login-input(type="password", name="password" id='pwd')
            div.login-button-wrapper
                button.login-button.login(type='submit') 로그인
                button.login-button(type='button') 
                    a(href='./register') 회원가입
    div.user-wrapper(style='display: none;') 
        div
            button.verify 내 정보 보기
        div
            button.refresh 재발급 받기
block script 
    include login.js